.navbar-tab {
    text-align:  center;
    font-family:  "Georgia", serif;
    font-size:  18px;
    font-weight:  bold;
    background-color:  #4aaaa5;
    color:  #ffffff;  
}

.nav-link:hover {
    text-align:  center;
    background-color:  #4aaaa5;
    color:  #ffffff;
}

.nav-link {
    text-align:  center;
    font-family:  "Arial", sans-serif;
    font-size:  14px;
}

.dropdown-item:hover {
    text-align:  left;
    font-family:  "Arial", sans-serif;
    color:  #ffffff;
    background-color:  #4aaaa5;
}

.dropdown-item {
    text-align:  left;
    font-family:  "Arial", sans-serif;
    font-size:  14px;
}

h2 {
    text-align:  center;
    font-family:  "Georgia", serif;
    margin-top:  75px;
}

h4 {
    text-align:  left;
    font-family:  "Georgia", serif;
    font-size:  18px;
    font-weight:  bold;
    color:  #4aaaa5
}

p {
    font-family:  "Arial", sans-serif;
    font-size:  12px;
    line-height:  1.5;
}

#img-wrap {
    float:  left;
}

.img.fluid {
    max-width:  100%;
    height:  auto;
}

h3 {
    text-align:  left;
    font-family:  "Georgia", serif;
    font-size:  18px;
    font-weight:  bold;
    color:  #4aaaa5
}

.container-fluid {
    background-color:  #ffffff;
}